<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ICT Inventory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <%- include('common/header'); -%>


    <div class="px-4 py-1 my-1 text-center">
      <img class="d-block mx-auto mb-4" src="https://res.cloudinary.com/dga2akfep/image/upload/v1673815033/item_add_sml_npfijm.jpg" alt="Add item">
        <h1 class="display-5 fw-bold">Create Item</h1>
        <div class="col-lg-6 mx-auto">
            <form method="POST" action="/create-item">
                <div class="form-group">
                    <label for="make">Item Make</label>
                    <input
                        type="text"
                        class="form-control"
                        id="make"
                        name="make"
                        placeholder="Enter Make"
                    />
                    <% if (errors['make']) { %>
                    <p style="color: red"><%= errors['make'].message %></p>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="model">Item Model</label>
                    <input
                        type="text"
                        class="form-control"
                        id="model"
                        name="model"
                        placeholder="Enter Model"
                    />
                    <% if (errors['model']) { %>
                    <p style="color: red"><%= errors['model'].message %></p>
                    <% } %>
                </div>                
                <div class="form-group">
                  <label for="asset">Asset Number</label>
                  <input
                      type="number"
                      class="form-control"
                      id="asset"
                      name="asset"
                      placeholder="Enter Asset Number"
                  />
                  <% if (errors['asset']) { %>
                  <p style="color: red"><%= errors['asset'].message %></p>
                  <% } %>
                </div>
                <div class="form-group">
                  <label for="serial">Serial Number</label>
                  <input
                      type="text"
                      class="form-control"
                      id="serial"
                      name="serial"
                      placeholder="Enter a serial number"
                  />
                  <% if (errors['serial']) { %>
                  <p style="color: red"><%= errors['serial'].message %></p>
                  <% } %>
                </div>
                <div class="form-group">
                  <label for="description">Item Description</label>
                  <input
                      type="text"
                      class="form-control"
                      id="description"
                      name="description"
                      placeholder="Enter a description"
                  />
                  <% if (errors['description']) { %>
                  <p style="color: red"><%= errors['description'].message %></p>
                  <% } %>
                </div>
                <div class="form-group">
                  <label for="location">Item Location</label>
                  <input
                      type="text"
                      class="form-control"
                      id="location"
                      name="location"
                      placeholder="Enter a location"
                  />
                  <% if (errors['location']) { %>
                  <p style="color: red"><%= errors['location'].message %></p>
                  <% } %>
                </div>
                <div class="form-group">
                  <label for="building">Item Building</label>
                  <input
                      type="text"
                      class="form-control"
                      id="building"
                      name="building"
                      placeholder="Enter a building"
                  />
                  <% if (errors['building']) { %>
                  <p style="color: red"><%= errors['building'].message %></p>
                  <% } %>
                </div>
                <div class="form-group">
                  <label for="status">Item Status</label>
                  <input
                      type="text"
                      class="form-control"
                      id="status"
                      name="status"
                      placeholder="Enter a status"
                  />
                  <% if (errors['status']) { %>
                  <p style="color: red"><%= errors['status'].message %></p>
                  <% } %>
                </div>




                </div>
                <br>
                <button type="sumbit" class="btn btn-primary btn-lg px-4 gap-3">Submit</button>

            </form>

        </div>
      </div>

    <%- include('common/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  </body>
</html>